{% extends 'base.html.twig' %}


{% block title %} Modifier Formation {% endblock %}
{% block breadcrumb1 %} Modifier Formation {% endblock %}
{% block breadcrumb2 %} Modifier {% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-3 swMain"></div>
        <div class="col-md-6 swMain">
            <div class="row">
                <div  class="col-md-12">
                    <fieldset>
                        <legend>
                            Modifier Formation
                        </legend>
                        {{ form_start(form) }}

                        <div class="form-group">
                            <label class="control-label">
                                Nom <span class="symbol required"></span>
                            </label>
                            {{ form_widget(form.name, { 'attr': {'class': 'form-control', 'required' : true }}) }}
                        </div>
                        <div class="form-group">
                            <label class="control-label">
                                Score <span class="symbol required"></span>
                            </label>
                            {{ form_widget(form.score, { 'attr': {'class': 'form-control', 'required' : true, 'value' : formation.score , 'touchspin' : 'touchspin', 'data-min' : 0 , 'data-max': 100 , 'data-step': 0.1 ,  'data-decimals' :2 , 'data-boostat' : 5 , 'data-maxboostedstep' : 10  }}) }}



                        </div>
                        <div class="form-group">
                            <label class="control-label">
                                Durée <span class="symbol required"></span>
                            </label>
                            {{ form_widget(form.timer, { 'attr': {'class': 'form-control', 'required' : 'true', 'value' : formation.timer , 'touchspin' : 'touchspin', 'data-min' : 0 , 'data-max': 100 , 'data-step': 0.1 ,  'data-decimals' :2 , 'data-boostat' : 5 , 'data-maxboostedstep' : 10  }}) }}

                        </div>
                        <div class="form-group">
                            <label class="control-label">
                                Level <span class="symbol required"></span>
                            </label>
                            <div class="">
                                {{ form_widget(form.level,{'attr': {'class': 'js-example-basic-single js-states form-control'}}) }}
                            </div>
                        </div>

                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary pull-right">
                                Modifier <i class="fa fa-arrow-circle-right"></i>
                            </button>
                        </div>

                        {{ form_end(form) }}
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
{% endblock %}