{% extends 'base.html.twig' %}

{% block title %} Questions  {% endblock %}
{% block breadcrumb1 %} Questions  {% endblock %}
{% block breadcrumb2 %} Liste {% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12 space20">

                        <a class="btn btn-primary pull-left" href="{{ path('fedi_AjouterQuestion') }}">Ajouter Question <i class="fa fa-plus"></i></a>
                </div>
            </div>

            <table class="table table-striped table-bordered table-hover table-full-width" id="sample_1">
                <thead>
                <tr>
                    <th class="hidden-xs center" width="50%"><strong>Questions</strong></th>
                    <th class="hidden-xs center" width="35%"><strong>Formations</strong></th>
                    <th class="hidden-xs center" width="10%"><strong>Status</strong></th>
                    <th class="hidden-xs center" width="10%"><strong>Actions</strong></th>
                </tr>
                </thead>
                <tbody>
                {% for question in questions %}
                    <tr>
                        <td class="hidden-xs center"><b>{{ question.label }}</b> </td>
                        <td class="hidden-xs center sorting_1">
                            {%  for formation in question.formations %}
                                <span class="label label-sm label-default stylelabel"
                                      style=" ">
                                    {{ formation.name }}
                                </span>
                            {%  endfor %}
                        </td>
                        <td class="hidden-xs center sorting_1">
                            <a href="{{ path('fedi_StatusQuestion', {id: question.id}) }}"
                               class="label {% if question.enabled == 1 %}label-success{% else %}label-danger{% endif %}">
                                {% if question.enabled == 1 %} Enabled {% else %} Disabled {% endif %}
                            </a>
                        </td>
                        <td class="hidden-xs center">


                            <a class="btn btn-success btn-xs" title="edit" href="{{ path('fedi_EditerQuestion',{'id':question.id}) }}">
                                <span class="fa fa-edit" style="color:white"></span></a>
                            <a href="{{ path('fedi_DeleteQuestion',{'id':question.id}) }}" class="btn btn-danger btn-xs user-remove"  title="supprimer" data-toggle="confirmation" class="delete-row">
                                <span class="fa fa-trash-o"  style="color:white"></span></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}